/* import google fonts */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto|Tangerine|Source Sans 3:bold&display=swap'); 

:root {
    /* Make sure variables are defined in the root context so available everywhere */

    /*  fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;
    --cursive-font: 'Tangerine', serif;
    --sans3: 'Source Sans 3', sans-serif;

    /* colors */

    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;
    --grey: #777777;
    --red: #FF0000;
    --green: #97aa88aa;


    /* utils */

    --small-box-shadow: 1px  -1px 7px 0 #00000061;
    
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,h2,h3,h4,h5,h6 {
    /* all headers should use the title-font 
        and be white unless overridden
    */
    font-family: var(--title);
    color: var(--white);
}

p {
    color: var(--white);
}

.last_articles {
    color: var(--off-white);
}

.checkmark-color {
    color: var(--green);
}

.web-header {
    /* used for the headers in the links page */
    color: var(--black)
}

.jumbotron-paragraph {
    color: var(--black);
}

h1 {
    /* all h1 should be orange*/
    color: var(--orange);
}


main {
    /* appply to the main section. I.e. the part of the page that is not a part of base.html */
    flex: 1 0 auto;
    background-color: var(--grey);
}

#disclaimer-bar {
    /* the bar at the top should be red to stick out */
    background-color: var(--red);
}

.cursive-font {
    font-family: var(--cursive-font);
}

.sans-font {
    font-family: var(--sans3);
}
/* footer */

footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-top: var(--border);
}

#copyright {
    flex-shrink: 1;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* links */

/* unvisited link */
.target-link a:link {
    color: var(--black);
    text-decoration: underline;
}

/* visited link */
.target-link a:visited {
    color: var(--black);
    text-decoration: underline;
}

/* mouse over link */
.target-link a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
.target-link a:active {
    color: var(--black);
    text-decoration: underline;
}

.cc {
    /* cc stands for creative commons, used for those boxes on about page */
    background-image: url('https://raw.githubusercontent.com/jonthorell/QuizGame/main/assets/images/backdrop.png');
    border: dotted;
    border-color: var(--red);
}

fieldset label {
    color: var(--white);
}

.div-border {
    /* remove before submitting. Used to show div borders to make sure nothing overflows for debugging purposes */
    border-style: dotted;
    border-color: coral;
    padding-top: 1em;
}

.right-align {
    float: right;
}

.form-ro {
    /* used to style read-only fields in forms. Such as "Create article as user" in create_article */
    background-color: var(--grey);
    color: var(--orange);
}

.not-logged-in {
    color: var(--black);
}

.welcome-header {
    background-color: var(--orange);
}

td {
    /* used for the table on the testpage. Remove before submitting */
    background-color: var(--black);
    color: var(--orange);
}

.body-error {
    /* used to style the background for error pages like 404 */
    background-color: var(--black);
}

.form {
    /* styles the different forms */
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

.user-names {
    /* used to style usernames icons in list_all_users */
    background-color: var(--grey);
    color: var(--white);
}

