/* import google fonts */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto|Tangerine|Source Sans 3:bold&display=swap');


:root {
    /* Make sure variables are defined in the root context so available everywhere */
    /*  fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;
    --cursive-font: 'Tangerine', serif;
    --sans3: 'Source Sans 3', sans-serif;
    /* colors */

    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;
    --grey: #777777;
    --grey2: #999999;
    --red: #FF0000;
    --green: #97aa88aa;
    /* utils */

    --small-box-shadow: 1px -1px 7px 0 #00000061;
}

/* classes for all the background colors */

.background {
    /* used for table-bg */
    background-color: var(--background);
}

.blue {
    background-color: var(--blue);
}

.black {
    background-color: var(--black);
}

.off-white {
    background-color: var(--off-white);
}

.white {
    background-color: var(--white);
}

.orange {
    background-color: var(--orange);
}

.grey {
    background-color: var(--grey);
}

.grey2 {
    background-color: var(--grey2);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blackfg {
    color: var(--black);
}

.whitefg {
    color: var(--white);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,h2,h3,h4,h5,h6 {
    /* all headers should use the title-font 
        and be white unless overridden
    */
    font-family: var(--title);
    color: var(--white);
}

p {
    color: var(--white);
}

.last_articles {
    color: var(--off-white);
}

.checkmark-color {
    color: var(--green);
}

.web-header {
    /* used for the headers in the links page */
    color: var(--black)
}

.jumbotron-paragraph {
    color: var(--black);
}

h1 {
    /* all h1 should be orange*/
    color: var(--orange);
}


main {
    /* appply to the main section. I.e. the part of the page that is not a part of base.html */
    flex: 1 0 auto;
    background-color: var(--grey);
}

#disclaimer-bar {
    /* the bar at the top should be red to stick out */
    background-color: var(--red);
}

.cursive-font {
    font-family: var(--cursive-font);
}

.sans-font {
    font-family: var(--sans3);
}
/* footer */

footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-top: var(--border);
}

#copyright {
    flex-shrink: 1;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* links 
   target-link first is to make sure the links in the navbar are not affected
    categories first is to make sure navlinks in the categories cards (all categories)
    are never shown as links since the card itself is the link.
    categories is also used to remove the underline for the navigation links in pagination

*/

/* unvisited link */
.target-link a:link {
    color: var(--black);
    text-decoration: underline;
}

/* visited link */
.target-link a:visited {
    color: var(--black);
    text-decoration: underline;
}

/* mouse over link */
.target-link a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
.target-link a:active {
    color: var(--black);
    text-decoration: underline;
}

/* unvisited link */
.categories a:link {
    color: var(--black);
    text-decoration: none;
}

/* visited link */
.categories a:visited {
    color: var(--black);
    text-decoration: none;
}

/* mouse over link */
.categories a:hover {
    color: hotpink;
    text-decoration: none;
}

/* selected link */
.categories a:active {
    color: var(--black);
    text-decoration: none;
}

fieldset label {
    color: var(--white);
}

.div-border {
    /* remove before submitting. Used to show div borders to make sure nothing overflows for debugging purposes */
    border-style: dotted;
    border-color: coral;
    padding-top: 1em;
}

.right-align {
    float: right;
}

.form-ro {
    /* used to style read-only fields in forms. Such as "Create article as user" in create_article */
    background-color: var(--grey);
    color: var(--orange);
}

.not-logged-in {
    color: var(--black);
}

.welcome-header {
    background-color: var(--orange);
}

.body-error {
    /* used to style the background for error pages like 404 */
    background-color: var(--black);
}

.form {
    /* styles the different forms */
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

.user-names {
    /* used to style usernames icons in list_all_users */
    background-color: var(--grey);
    color: var(--white);
}

.categories {
    /* used for the right-hand menu in categories*/
    text-decoration: none;
}

table th {
    /* used for the table header in article-by-category*/
    color: var(--black);
    font-family: var(--sans3);
}

.table-desc {
    /* used for the description in article-by-category*/
    color: var(--off-white);
    font-style: italic;
}

.td-desc {
    /* used for description column in table on credits page*/
    color: var(--black);
}

.shadow-pagination {
    /* used for the border around the pagination controls */
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .25), 0 3px 4px 10px rgba(0, 0, 0, 0.55) !important;
}

.admin-grey {
    /* used for bg color on django-admin-login*/
    background-color: var(--grey);
}

.admin-bg-card {
    /* used for django-admin-login*/
    background-image: url("https://jonthorell.github.io/QuizGame/assets/images/backdrop.png");
    background-color: var(--grey);
}

.not-published {
    /* used for  "urls" when the article is not published */
    text-decoration: line-through;
}