{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

{% block content %}

<div class="container-fluid text-center">
    <h1>About</h1>
</div>

<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block text-center">
            <img class='rounded-circle border border-5 border-success' src="{% static 'images/amygrief.gif' %}" alt="Amy grieves" width="640" height="436">
        </div>
        <div class="col">
            <p>Once upon a time there was a computer manufaturer called Commodore.</p>
            <p>
                They started out by making typewriters and pocket calculators, but got their biggest sucesses in the VIC-20, Commodore 64, and the Amiga-line of
                personal computers.
            </p>
            <p> The VIC-20 and Commodore 64 (the best selling computer brand of all times!) are no doubt "just" gaming systems of the early 1980's.'</p>
            <p>The Amiga is something else.</p>
            <p>
                It can certainly be argued that it was often used as a gaming machine, and it was certainly great in that. Many classic games originated
                on that platform, such as Lemmings as just one example.
            </p>
            <p>
                But it was also a lot more than that. For example, the Scala suite of software commonly used in TV and display-sets would not exist if it wasn't for
                the Amiga.
            </p>
            <p>And of course: for the U.S. market, the so-called Video Toaster was just an Amiga in disguise.</p>
            <p>But most importantly IMO, it showed that a computer does not have to be a Windows or Mac PC. It can be something else, and still be viable.</p>
            <p>And of course: it was a fun system to use!</p>
        </div>
    </div>
   
        
    </div>

<p>&nbsp;</p>
    {% endblock content %}
