{% extends "base.html" %}
{% load static %}
{% load mixins %}
{% block title %}About{% endblock title %}

{% block content %}

<div class="container-fluid text-center">
    <h1>About</h1>
</div>

<div class="container-fluid target-link">

    <div class="row">
        <div class="col d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' src="{% static 'images/amygrief.gif' %}" alt="Amy grieves" width="640" height="436" />
        </div>
        <div class="col">
            <p>Once upon a time there was a computer manufaturer called Commodore.</p>
            <p>
                They started out by making typewriters and pocket calculators, but got their biggest sucesses in the VIC-20, Commodore 64, and the Amiga-line of
                personal computers.
            </p>
            <p> The VIC-20 and Commodore 64 (the best selling computer brand of all times!) are no doubt "just" gaming systems of the early 1980's.'</p>
            <p>The Amiga is something else.</p>
            <p>
                It can certainly be argued that it was often used as a gaming machine, and it was certainly great in that. Many classic games originated
                on that platform, such as Lemmings as just one example.
            </p>
            <p>
                But it was also a lot more than that. For example, the Scala suite of software commonly used in TV and display-sets would not exist if it wasn't for
                the Amiga.
            </p>
            <p>And of course: for the U.S. market, the so-called Video Toaster was just an Amiga in disguise.</p>
            <p>But most importantly IMO, it showed that a computer does not have to be a Windows or Mac PC. It can be something else, and still be viable.</p>
            <p>And of course: it was a fun system to use!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Credits</h2>
            <p class="target-link">
                The cartoon characters are all &copy; Eric Schwartz and well-known in the Amiga community since the late 1980's at least.
            <p>The social media icons comes from: <a href="https://uxwing.com/" alt="Link to uxwing" target="_blank">UX Wing</a> (attribution unneccesary)</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bg-image cc">
                <div class="card-body">
                    <h5 class="card-title jumbotron-paragraph">CC-BY-2.5 Attribution</h5>
                    <p class="card-text jumbotron-paragraph">
                        Author: &copy; Bill Bertram 2006, &nbsp; Amiga 500 image<br />
                        <a href="https://www.flaticon.com/free-icon/user_3899618" alt="Freeicon website" target="_blank">The dummy user icon on the top right</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-image cc">
                <div class="card-body">
                    <h5 class="card-title jumbotron-paragraph">Creative Commons Attribution-Share Alike 4.0 International license</h5>
                    <p class="card-text jumbotron-paragraph">
                        Author: The Copyright Holder, Amiga 1200 Image<br />
                        Author: Berdajeno, Boing-ball
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
    {% endblock content %}
