{% extends "base.html" %}
{% load static %}
{% block title %}All Profiles{% endblock title %}

{% block content %}

<div class="container-fluid target-link text-center">
    <h1>All Profiles</h1>
</div>

<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' width="640" height="436" src="{% static 'images/wicked_witch.PNG' %}" />
        </div>
        <div class="col text-center">
            <h1 class="" mb-3 cursive-font text-center">We will get back to you as soon as possible.</h1>
        </div>
    </div>

</div>

{% endblock content %}
