{% extends "base.html" %}}
{% load static %}
{% block title %}All Profiles{% endblock title %}

{% block content %}

<div class="container-fluid text-center target-link">
    <h1>All Profiles</h1>
</div>


<div class="container-fluid target-link">
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        {% for profile in profiles %}
        <div class="col">
            <div class="card h-100 categories">
                {% if profile.user.is_active %}
                <a href="view_profile" aria-label="Click to view Profile ">
                    <div class="card-body">
                        <h5 class="card-title blackfg">{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                        <p class="blackfg">
                            {{ profile.description }}
                        </p>
                    </div>
                </a>
                {% else %}
                <a href="view_profile" aria-label="Click to view Profile ">
                    <div class="card-body">
                        <h5 class="card-title blackfg struck-out">{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                        <p class="blackfg struck-out">
                            {{ profile.description }}
                        </p>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<p>&nbsp;</p>


    {% endblock content %}
