{% extends "base.html" %}
{% load static %}
{% load mixins %}
{% block title %}Category: All{% endblock title %}

{% block content %}

<div class="container-fluid text-center target-link">
    <h1>All categories</h1>
</div>

<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' width="640" height="436" src="{% static 'images/amylogin.jpg' %}" />
        </div>
        <div class="col categories">
            {% for category in categories %}
            <a href="" aria-label="Click to view {{ category.name }} ">
                <div class="card m-3">
                    <div class="card-body">
                        <h2 class="card-title web-header">{{ category.name }}</h2>
                        <p class="web-header">{{ category.description }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


    {% endblock content %}
