{% extends "base.html" %}}
{% load static %}
{% block title %}All Categories{% endblock title %}

{% block content %}

<div class="container-fluid text-center target-link">
    <h1>All Categories</h1>
</div>


<div class="container-fluid target-link">
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        {% for category in categories %}
        <div class="col">
            <div class="card h-100 categories">
                <a href="{% url 'articles_by_category' category.id %}" aria-label="Click to view {{ category.name }} ">
                    <div class="card-body">
                        <h2 class="card-title blackfg">{{ category.name }}</h2>
                        <p class="blackfg">
                            {{ category.description }}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<p>&nbsp;</p>


    {% endblock content %}
