{% extends "base.html" %}
{% load static %}
{% block title %}Comment Article{% endblock title %}

{% block content %}

<div class="container-fluid target-link">
    <p>&nbsp;</p>
    <div class="row">
        <div class="col d-none d-lg-block text-center">
            <img class='rounded-circle border border-5 border-success' src="{% static 'images/inactive_account.png' %}" alt="Inactive account" width="640" height="436" />
        </div>
        <div class="col">
            <h1>Comment Article</h1>
            <p>Not implemented yet</p>
            <form method="post" class="form pt-1 mt-1">
                {% csrf_token %}
                <fieldset class="mx-2 px-2">
                    {{ form.as_p |safe}}
                    {% if user.is_authenticated %}
                    <label for="user">Post as user: </label>
                    <input type="text" id="user" name="user" class="form-control form-control-sm form-ro" disabled placeholder="{{ user.first_name }} {{ user.last_name }}" />
                    <p> </p>
                    <button type="submit" class="btn btn-primary btn-block">Add comment!</button>
                    <p> </p>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>


</div>

<p>&nbsp;</p>
    {% endblock content %}
