{% extends "base.html" %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block content %}

<div class="container-fluid text-center target-link">
    <h1>Contact Form</h1>
</div>

<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block text-center">
            <img class='rounded-circle border border-5 border-success' width="640" height="436" src="{% static 'images/amy-contact.png' %}" />
        </div>
        <div class="col">
            <form action="thankyou" id="contactform" class="p-2 form">
                <fieldset>
                    <label for="name">Your name:</label>
                    <input type="text" name="name" id="name" class="form-control form-control-sm" required autocomplete="off" />
                    <label for="email">Your E-mail:</label>
                    <input type="email" name="email" id="email" class="form-control form-control-sm" required autocomplete="off">
                    <label for="subject">Subject:</label>
                    <div class="white">
                        <select name="subject" id="subject" form="contactform" class="form-control form-control-sm select" data-mdb-clear-button="true">
                            <option value="techissue" class="whitefg">Technical issue</option>
                            <option value="factissue">Factual issue</option>
                            <option value="deadlink">Dead Link or missing image</option>
                            <option value="aria">Suggestion for accessability</option>
                            <option value="newidea">Suggestion for new idea</option>
                            <option value="newlink">Suggestion for new link</option>
                            <option value="generic">Generic praise/hate</option>
                        </select>
                    </div>
                    <label for="fb">What do you want to say to us?</label>
                    <textarea placeholder="Enter message here" cols="80"
                              rows="20" id="fb" name="fb" class="form-control form-control-sm">Enter message here</textarea>
                </fieldset>
                <br />
                <button class="btn btn-primary w-25 mb-2" type="reset">Reset form</button>
                <button class="btn btn-primary w-25 mb-2" type="submit">Submit!</button>
            </form>
            <br />
        </div>
    </div>

</div>

{% endblock content %}