{% extends "base.html" %}
{% load static %}
{% load mixins %}
{% block title %}Credits{% endblock title %}

{% block content %}

<div class="container-fluid target-link text-center">
    <h1>Credits</h1>
</div>
<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' width="640" height="436" src="{% static 'images/SabrinaBeach.jpg' %}" />
        </div>
        <div class="col table-responsive">
            <p>
                Most code and text was written from scratch by me (Jonas Thorell). When code was taken from elsewhere and adapted for my use, it is duly noted in the readme and/or the
                code.

                <p>Images of the various models of the Amiga were found by google image search.</p>
            <p>That being said, there are a few more generic, if you will, things that powers the site, and without which the site would not be possible.</p>

            <table class="table table-striped table-hover table-borderless align-middle mb-0">
                <thead>
                    <tr>
                        <th>Technology</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody class="background">
                    <tr>
                        <td>
                            <a href="https://www.python.org/" target="_blank">Python</a>
                        </td>
                        <td>
                            <p class="td-desc">Used both for administrative tasks and as backend.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.djangoproject.com/" target="_blank">Django</a>
                        </td>
                        <td>
                            <p class="td-desc">The backend framework the entire site relies on.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.postgresql.org/" target="_blank">PostgresSQL</a>
                        </td>
                        <td>
                            <p  class="td-desc">The database engine used.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://mdbootstrap.com/" target="_blank">Materialize bootstrap (MDB)</a>
                        </td>
                        <td>
                            <p class="td-desc">The front-end frame-work used.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>
                        </td>
                        <td>
                            <p class="td-desc">Some nice additonal iconography used here and there to make the site look nicer (such as the diamond in the links page).</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>
                        </td>
                        <td>
                            <p class="td-desc">Used for some very nice webfonts.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://uxwing.com/" target="_blank">UXWing</a>
                        </td>
                        <td>
                            <p class="td-desc">Source of the very nice social media icons used in the footer.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.sabrina-online.com/" target="_blank">Sabrina Online</a>
                        </td>
                        <td>
                            <p class="td-desc">The images of Amy the Squirrel, Sabrina the Skunk, and other cartoon characters are &copy; Eric Schwartz and used by the permission granted by what is stated in the link.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>
                        </td>
                        <td>
                            <p class="td-desc">Default avatars for editors were taken from here.</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped table-hover table-borderless align-middle mb-0">
                <tbody class="background">
                    <tr>
                        <td>
                            <span>
                                <img src="{% static 'avatars/amy.png' %}" width='20' height='20' alt="Author Amy the Squirrel" />
                                <img src="{% static 'avatars/default-user.png' %}" width='20' height='20' alt="Author Default-user" />
                                <img src="{% static 'avatars/gunvald.png' %}" width='20' height='20' alt="Author Gunvald" />
                                <img src="{% static 'avatars/guybrush.png' %}" width='20' height='20' alt="Author Guybrush Threepwood" />
                                <img src="{% static 'avatars/haynie.png' %}" width='20' height='20' alt="Author Dave Haynie" />
                                <img src="{% static 'avatars/jack.png' %}" width='20' height='20' alt="Author Jack Tramiel" />
                                <img src="{% static 'avatars/kallekula.png' %}" width='20' height='20' alt="Author Kalle Kula" />
                                <img src="{% static 'avatars/sabrina.png' %}" width='20' height='20' alt="Author Sabrina the Skunk" />
                                <img src="{% static 'avatars/not-logged-in.png' %}" width='20' height='20' alt="Author Not-logged-in" />
                                <img src="{% static 'avatars/dale.png' %}" width='20' height='20' alt="Author Not-logged-in" />
                            </span>
                        </td>
                        <td>
                            <a href="https://www.flaticon.com/authors/freepik" target="_blank">Artist: Freepik</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <img src="{% static 'avatars/jay.png' %}" width='20' height='20' alt="Author Jay Miner" />
                                <img src="{% static 'avatars/mical.png' %}" width='20' height='20' alt="Author RC Mical" />
                            </span>
                        </td>
                        <td>
                            <a href="https://www.flaticon.com/authors/smashicons" target="_blank">Artist: Smash Icons</a>
                        </td>
                    </tr>
                    </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
    {% endblock content %}
