{% extends "base.html" %}
{% load static %}
{% load mixins %}
{% block title %}Credits{% endblock title %}

{% block content %}

<div class="container-fluid target-link text-center">
    <h1>Credits</h1>
</div>
<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' width="640" height="436" src="{% static 'images/SabrinaBeach.jpg' %}" />
        </div>
        <div class="col">
            <h1 class="mb-3 cursive-font text-center">
                This is a placeholder.
            </h1>
        </div>
    </div>
</div>
    {% endblock content %}
