{% extends "base.html" %}
{% load static %}
{% block title %}View Article - {{ article.title }} {% endblock title %}

{% block content %}

<div class="container-fluid target-link text-center">
    <h1>{{ article.title }} </h1>
    <p class="text-center">Posted by: {{ article.user.first_name }}&nbsp; {{ article.user.last_name }}</p>
</div>

<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' width="640" height="436" src="{% static 'images/amylogin.jpg' %}">
        </div>
        <div class="col">

            <div class="article-container">
                <div class="p-3">
                    <p>{{ article.content|safe}}</p>
                </div>
            </div>
            {% if user.is_authenticated %}
            {% if request.user == article.user %}
            <div>
                <a href="" class="btn btn-warning">Edit</a>
                <a href="" class="btn btn-danger">Delete</a>
            </div>
            {% else %}
            <p>Rate Article</p>
            <ul class="rating" data-mdb-toggle="rating" data-mdb-readonly="false" data-mdb-value="3">
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
            </ul>
            <div class="categories">
                <a href="" class="btn btn-info">Comment article</a>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    
</div>
<p>&nbsp;</p>
    {% endblock content %}
