{% extends "base.html" %}
{% load static %}
{% block title %}View Article - {{ article.title }} {% endblock title %}

{% block content %}

<div class="container-fluid target-link text-center">
    <h1>{{ article.title }}</h1>
    
    <a href="/view_profile/{{ article.user.id }}">
        <p class="text-center">Posted by: {{ article.user.first_name }}&nbsp; {{ article.user.last_name }}</p>
    </a>
    </div>
    <p class="text-center blackfg">Excerpt: {{ article.excerpt }}</p>

<div class="container-fluid target-link">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="article-container">
                <div class="p-3">
                    <p>{{ article.content|safe}}</p>
                </div>
                <hr class="whitefg" />
            </div>
            <div class="article-container">
                <div class="p-3">
                    <div class="col-md-4">
                        {% for comment in comments %}
                        {% if comment.status == 1 and comment.approved == True and article.id == comment.article_id %}
                        <div class="comment-bg">
                            <p>
                                Comment by: {{ comment.slug }}
                                <br>{{ comment.body }}
                            </p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            {% if request.user == article.user %}
            <div>
                <a href="/edit_article/{{ article.id }}" class="btn btn-warning">Edit</a>
                <a href="/delete_article/{{ article.id }}" class="btn btn-danger">Delete</a>
            </div>
            {% else %}
            <p>Up/down vote Article</p>
            <form class="d-inline" action="{% url 'article_like' article.id %}" method="POST">
                {% csrf_token %}
                {% if not liked %}
                    <button type="submit" name="blogpost_id" value="{{article.id}}" class="btn btn-link whitefg"><i class="fa-solid fa-thumbs-up"></i></button>
                {% else %}
                    <button type="submit" name="blogpost_id" value="{{article.id}}" class="btn btn-link whitefg"><i class="fa-regular fa-thumbs-up"></i></button>
                {% endif %}
            </form>
            <p>Rate Article</p>
            <ul class="rating" data-mdb-toggle="rating" data-mdb-readonly="false" data-mdb-value="0">
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
                <li><i class="far fa-star fa-sm text-yellow"></i></li>
            </ul>
            <div>
                <a href="" class="btn btn-info">Comment article</a>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    
</div>
<p>&nbsp;</p>
    {% endblock content %}
