{% extends "base.html" %}
{% load static %}
{% load mixins %}
{% block title %}Home{% endblock title %}

{% block content %}

<!-- Jumbotron -->
<div class="container my-5">
    <div class="p-5 text-center bg-secondary border border-dashed rounded-5">
        <h1 class="mb-3 cursive-font">Welcome to the Retro Lovers United site!</h1>
        <p class="jumbotron-paragraph">A page for all things retro-computers. Or to be fair, the Commodore Amiga line.</p>
        <p class="last_articles">Last three articles:</p>
        <p class="last_articles">
            {% for article in articles %}
                &nbsp;&nbsp;<i class="fa-solid fa-check">&nbsp;</i>{{ article.title }}
            {% endfor %}
        </p>
    </div>
</div>
<!-- Jumbotron -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="pb-3">
                <div class="card">
                    <img src="{% static 'images/Amiga500_system1.jpg' %}" class="card-img-top" alt="Amiga500">
                    <div class="card-body">
                        <h5 class="card-title jumbotron-paragraph">Amiga 500</h5>
                        <p class="card-text jumbotron-paragraph">The most iconic of the Amiga computers.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pb-3">
                <div class="card">
                    <img src="{% static 'images/Commodore_Amiga_1200.jpg' %}" class="card-img-top" alt="Amiga1200">
                    <div class="card-body">
                        <h5 class="card-title jumbotron-paragraph">Amiga 1200</h5>
                        <p class="card-text jumbotron-paragraph">A more advanced version (although not by modern standards). Better graphics capabilities and a faster procesor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}