{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

{% comment %}
<!-- Jumbotron header -->
{% endcomment %}
<div class="container my-5">
    <div class="p-5 text-center bg-secondary border border-dashed rounded-5">
        <h1 class="mb-3 cursive-font">Welcome to the Retro Lovers United site!</h1>
        <p class="jumbotron-paragraph">A page for all things retro-computers. Or to be fair, the Commodore <blink>Amiga</blink> line.</p>
        <p class="last_articles">Last three articles:</p>
        <p class="last_articles">
            {% for article in articles %}
            <a href="{{ article.get_absolute_url }}">
                &nbsp;&nbsp;<i class="fa-solid fa-check">&nbsp;</i>{{ article.title }}
            </a>
            {% endfor %}
        </p>
    </div>
</div>

{% comment %}
<!-- Jumbotrons -->
{% endcomment %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="pb-3">
                <div class="card">
                    <img src="{% static 'images/A500.webp' %}" class="card-img-top jumbotron-image" alt="Amiga500" width="1024" height="795">
                    <div class="card-body">
                        <h2 class="card-title jumbotron-paragraph">Amiga 500</h2>
                        <p class="card-text jumbotron-paragraph">The most iconic of the Amiga computers.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pb-3">
                <div class="card">
                    <img src="{% static 'images/A1200.webp' %}" class="card-img-top jumbotron-image" alt="Amiga1200" width="1024" height="768">
                    <div class="card-body">
                        <h2 class="card-title jumbotron-paragraph">Amiga 1200</h2>
                        <p class="card-text jumbotron-paragraph">The last version. Better graphics capabilities and a faster procesor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}