{% extends "base.html" %}
{% load static %}
{% block title %}Links{% endblock title %}

{% block content %}

<div class="container-fluid text-center target-link">
    <h1>Web Links</h1>
    <i class="fa-solid fa-diamond"></i>
    <a href="http://wiki.icomp.de/wiki/Main_Page" target="_blank" alt="Link to Individual Computers">Individual Computers</a>
    <p>Individual Computers make among other things the Picasso96 software used for graphics cards.</p>
    <i class="fa-solid fa-diamond"></i>
    <a href="http://www.apollo-core.com/" target="_blank" alt="Link to Apollo Core">Apollo Core</a>
    <p>Apollo, developers of the Vampire boards.</p>
    <i class="fa-solid fa-diamond"></i>
    <a href="https://eab.abime.net/index.php" target="_blank" alt="Link to the English Amiga board">English Amiga Board (eab)</a>
    <p>The English Amiga board, eab for short. Another discussion forum.</p>
    <i class="fa-solid fa-diamond"></i>
    <a href="http://aminet.net/" target="_blank" alt="Link to Aminet">Link to Aminet</a>
    <p>The ultimate download site for Amiga software on the net.</p>
</div>


{% endblock content %}