{% extends "base.html" %}
{% load static %}
{% block title %}Links{% endblock title %}

{% block content %}

<div class="container-fluid text-center">
    <h1>Web Links</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md web-header">
                Website Name
            </div>
            <div class="col-md web-header">
                Website description
            </div>
        </div>
        <div class="row">
            <div class="col-md web-header">
                <a href="http://wiki.icomp.de/wiki/Main_Page" target="_blank" alt="Link to Individual Computers">Individual Computers</a>
            </div>
            <div class="col-md web-header">
                Individual Computers make among other things the Picasso96 software used for graphics cards
            </div>
        </div>
        <div class="row">
            <div class="col-md web-header">
                <a href="http://www.apollo-core.com/" target="_blank" alt="Link to Apollo Core">Apollo Core</a>
            </div>
            <div class="col-md web-header">
                Apollo, developers of the Vampire boards
            </div>
        </div>
        <div class="row">
            <div class="col-md web-header">
                <a href="https://eab.abime.net/index.php" target="_blank" alt="Link to the English Amiga board">English Amiga Board (eab)</a>
            </div>
            <div class="col-md web-header">
                The English Amiga board, eab for short. Another discussion forum.
            </div>
        </div>
        <div class="row">
            <div class="col-md web-header">
                <a href="http://aminet.net/" target="_blank" alt="Link to Aminet">Aminet</a>
            </div>
            <div class="col-md web-header">
                The ultimate download site for Amiga software on the net.
            </div>
        </div>
    </div>
</div>


{% endblock content %}