{% extends "base.html" %}
{% load static %}
{% block title %}Links{% endblock title %}

{% block content %}

<div class="container-fluid target-link text-center">
    <h1>Web Links</h1>
</div>
<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block text-center">
            <img class='rounded-circle border border-5 border-success' src="{% static 'images/AmyEditor.png' %}" alt="Amy Editor" width="640" height="436" />
        </div>
        <div class='col table-responsive'>
            <div class="datatable" data-mdb-striped='true' data-mdb-borderless='true' data-mdb-hover='true' data-mdb-fixed-header='false' data-mdb-color='grey' data-mdb-full-pagination='true'>
            <table>
                <thead>
                    <tr>
                        <th class="th-small">URL</th>
                        <th class="th-small">Description</th>
                    </tr>
                </thead>
                <tbody>
                   {% for link in links %}
                    <tr>
                        <td><a href="{{link.url}}" target="_blank">{{ link.name }}</a></td>
                        <td>{{ link.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            </div>
    </div>
</div>
<p>&nbsp;</p>
    {% endblock content %}
