{% extends "base.html" %}
{% load static %}
{% block title %}List Active Users{% endblock title %}


{% block content %}

<div class="container-fluid target-link text-center">
    <h1>List Active Users</h1>
</div>
<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' src="{% static 'images/sabrina.jpg' %}" alt="Sabrina the Skunk" width="640" height="436" />
        </div>
        <div class="col">

            <p>&nbsp;<i class="fa-sharp fa-solid fa-check"></i>&nbsp; are enabled. <i class="fa-solid fa-xmark"></i> are disabled. <br></p>
            {% for user in users %}
            {% if user.is_active %}
            <i class="fa-sharp fa-solid fa-check user-names"></i>&nbsp; {{ user.first_name }} {{ user.last_name }} (username: {{ user.username }}) <br>
            {% else %}
            <i class="fa-solid fa-xmark user-names"></i> &nbsp; {{ user.first_name }} {{ user.last_name }} (username: {{ user.username }}) <br>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


    {% endblock content %}
