{% extends "base.html" %}
{% load static %}
{% block title %}Logout{% endblock title %}

{% block content %}

<div class="container-fluid text-center">
    <h1>Logout</h1>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <img  class='rounded-circle border border-5 border-success' src="{% static 'images/SabrinaBeach.jpg' %}" />
        </div>
        <div class="col-md-4">
            <p>
                You are now logged out!
                <br />Hope you enjoyed the summer, just like Sabrina!
            </p>
        </div>
    </div>

</div>


{% endblock content %}