{% extends "base.html" %}
{% load static %}
{% load mixins %}
{% block title %}Test Page{% endblock title %}

{% mixin foo %}
<div class="text-center target-link">
    <p>Mixin test</p>
    <div>{{ name }}</div>
    <div>{{ description }}</div>
    <hr />
</div>
{% endmixin %}

{% block content %}

<div class="container-fluid target-link text-center">
    <h1>Test Page</h1>
</div>
<div class="container-fluid target-link">
    <div class="row">
        <div class="col div-border d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' src="{% static 'images/amygrief.gif' %}" alt="Amy grieves" width="640" height="436" />
        </div>
        <div class="col div-border">
            <h1>Articles:</h1>
            {% for article in articles %}
            <p><i class="fa-solid fa-check"></i> &nbsp; <a href="{{ article.slug }}">{{ article.title }}</a></p>
            {% endfor %}
            <div class="form-outline datepicker">
                <input type="text" class="form-control" id="exampleDatepicker1" />
                <label for="exampleDatepicker1" class="form-label">Select a date</label>
            </div>
            <input type="button" onclick="printAlert('Well done!')" value="Display">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Anything below the columns</h2>
            <p class="target-link">
                Full width info goes here
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            Another row beneath the columns
        </div>
        <div class="wysiwyg" data-mdb-wysiwyg="wysiwyg">
            <br />
            Test editor
        </div>
    </div>
</div>


    {% mix foo with name="hello" description="world" %}



<table>
    <tr>
        <td>Username</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Editor?</td>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        {% for group in user.groups.all %}
        {% if group.name == 'Editors' %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
        {% endfor %}


    </tr>
    {% endfor %}



</table>
 <!--{% if user.is_authenticated %}
<p>Your Username is : {{user}} Your User Id is  : {{user.id}} </p>

{% for group in user.groups.all %}
        {% if group.name == 'Editors' %}
Yes
        {% else %}
No
        {% endif %}
        {% endfor %}
{% else %}
<p>You are not logged in!</p>
{% endif %}-->



    {% endblock content %}
