{% extends "base.html" %}
{% load static %}
{% block title %}Test Page{% endblock title %}

{% block content %}

<div class="container-fluid target-link text-center">
    <h1>Test Page</h1>
</div>
<div class="container-fluid target-link">
    <div class="row">
        <div class="col div-border d-none d-lg-block">
            <img class='rounded-circle border border-5 border-success right-align' src="{% static 'images/amygrief.gif' %}" alt="Amy grieves" width="640" height="436" />
        </div>
        <div class="col div-border">
            Main column
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Anything below the columns</h2>
            <p class="target-link">
                Full width info goes here
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            Another row beneath the columns
        </div>
    </div>
    </div>

    {% endblock content %}
