<!-- This div is always hidden. The text 'Hidden alert!' is manipulated
    by a js function to provide an alert.

    File included in base.html so div is always present
    -->



<div class="alert fade"
     id="alert-id"
     role="alert"
     data-mdb-color="dark"
     data-mdb-position="top-right"
     data-mdb-stacking="true"
     data-mdb-width="535px"
     data-mdb-append-to-body="true"
     data-mdb-hidden="true"
     data-mdb-autohide="true"
     data-mdb-delay="8000">
    <i class="fas fa-info-circle me-3">
        <span id="alert-text" class="alert-text">Hidden alert!</span>
    </i>
</div>