{% load static %}

<footer>
    
        <div id="copyright" class="d-none d-sm-block me-auto mb-2 mb-lg-0">
            Weblayout and code:
            <br />&copy; Jonas Thorell
        </div>

        <!-- social media icons -->
        <a href="" target="_blank" rel="noopener" aria-label="LinkedIn - opens in new tab">
            <img src="{% static 'icons/linkedin-square-color-icon.svg' %}" alt="LinkedIn icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Twitter - opens in new tab">
            <img src="{% static 'icons/twitter-square-color-icon.svg' %}" alt="Twitter icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Youtube - opens in new tab">
            <img src="{% static 'icons/youtube-square-color-icon.svg' %}" alt="YouTube icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Github - opens in new tab">
            <img src="{% static 'icons/github-icon.svg' %}" alt="GitHub icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Instagram - opens in new tab">
            <img src="{% static 'icons/instagram-color-icon.svg' %}" alt="Instagram icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Facebook - opens in new tab">
            <img src="{% static 'icons/facebook-square-icon.svg' %}" alt="Instagram icon" class="social-icon">
        </a>
    
</footer>