{% load static %}
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img src="{% static 'images/Boing_Ball.svg' %}"
                         height="15"
                         alt="BoingBall logo"
                         loading="lazy" />
                </a>
                <!-- Left links -->
                <!-- Categories -->
                <div class="dropdown">
                    <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuCategories"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuCategories">
                        {% for category in categories %}
                        <li>
                            <a class="dropdown-item" href="/category">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/links">Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                    {% comment %}
                        Add links depending on group membership
                    {% endcomment %}

                    {% if user.is_authenticated %}
                    {% comment %}
                        first check if user is authenticated in the first place
                         If not, skip create/admin links
                    {% endcomment %}

                    {% for group in user.groups.all %}
                    {% comment %}
                        Iterate over the groups of the current user
                        If user is a member of group Editors, add create article link
                    {% endcomment %}
                    {% if group.name == 'Editors' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/create_article">Create Article</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% comment %}
                        Do the same for admin link
                        Admin link should not be necessary when everything is ready
                        but remains anyway since it sometimes could be a handier way
                        of doing things.
                    {% endcomment %}

                    {% for group in user.groups.all %}
                    {% comment %}
                        Iterate over the groups of the current user
                        if user is a member of the admins group, add admin link
                    {% endcomment %}

                    {% if group.name == 'admins' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
            <!-- Right elements -->
            <div class="d-flex align-items-center">


                <!-- Notifications -->
                {% if user.is_authenticated %}
                <!-- only show notifications if logged in -->
                <div class="dropdown">
                    <a class="text-reset me-3 dropdown-toggle hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                <!-- Avatar -->
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuAvatar"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{% static 'images/logged_in_avatar.png' %}"
                             class="rounded-circle"
                             height="25"
                             alt="Default avatar"
                             loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item disabled sans-font" href="#"> {{ user.first_name }} {{ user.last_name }}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/edit_profile">Edit my Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/view_profile">View my Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                   href="#"
                   id="navbarDropdownMenuAvatar"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    <img src="{% static 'images/user.png' %}"
                         class="rounded-circle"
                         height="25"
                         alt="Default avatar"
                         loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="/create_account">Create account</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
            {% endif %}
            <!-- Right elements -->
        
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>