{% load static %}
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img src="{% static 'images/Boing_Ball.svg' %}"
                         height="15"
                         alt="BoingBall logo"
                         loading="lazy">
                </a>
                <!-- Left links -->
                <!-- Authors -->
                <div class="dropdown">
                    <a class="text-reset dropdown-toggle d-flex align-items-center pe-2"
                       href="#"
                       id="navbarDropdownMenuAuthors"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        Authors
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAuthors">
                        {% for user in users %}
                        {% for group in user.groups.all %}
                        {% if group.name == 'Editors' %}
                        {% comment %}
                        Only list user that are editors
                        {% endcomment %}
                        <li>
                            <a class="dropdown-item" href="{% url 'articles_by_author' user.id %}">
                                {% for profile in profiles %}
                                {% if user.id == profile.user_id %}
                                {% with avatarimg="avatars/"|add:profile.avatar %}
                                <img src="{% static avatarimg %}"
                                     height="25"
                                     alt="Author"
                                     class="rounded-circle"
                                     loading="lazy" />
                                {% endwith %}
                                {% endif %}
                                {% endfor %}
                                {{ user.first_name }} {{ user.last_name }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- Categories -->
                <div class="dropdown">
                    <a class="text-reset dropdown-toggle d-flex align-items-center"
                       href="#"
                       id="navbarDropdownMenuCategories"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuCategories">
                        <li>
                            <a class="dropdown-item sans-font" href="/category">
                                <img src="{% static 'categories/all.png' %}"
                                     height="25"
                                     alt="Category"
                                     class="rounded-circle"
                                     loading="lazy" />
                            All categories</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        {% for category in categories %}
                        <li>
                            <a class="dropdown-item" href="{{ category.get_absolute_url }}">
                                {% with catimg="categories/"|add:category.avatar %}
                                <img src="{% static catimg %}"
                                     height="25"
                                     alt="Category"
                                     class="rounded-circle"
                                     loading="lazy" />
                                {% endwith %}

                                {{ category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/links">Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/credits">Credits</a>
                    </li>
                    {% comment %}
                    Add links depending on group membership
                    {% endcomment %}

                    {% if user.is_authenticated %}
                    {% comment %}
                    first check if user is authenticated in the first place
                    If not, skip create/admin links
                    {% endcomment %}

                    {% for group in user.groups.all %}
                    {% comment %}
                    Iterate over the groups of the current user
                    If user is a member of group Editors, add create article link
                    {% endcomment %}
                    {% if group.name == 'Editors' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/create_article">Create Article</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% comment %}
                    Do the same for admin link
                    Admin link should not be necessary when everything is ready
                    but remains anyway since it sometimes could be a handier way
                    of doing things.
                    {% endcomment %}

                    {% for group in user.groups.all %}
                    {% comment %}
                    Iterate over the groups of the current user
                    if user is a member of the admins group, add admin link
                    {% endcomment %}

                    {% if group.name == 'admins' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% comment %}
                    Do the same for list users link
                    {% endcomment %}
                    {% for group in user.groups.all %}
                    {% comment %}
                    Iterate over the groups of the current user
                    if user is a member of the managers group, add managers link
                    {% endcomment %}

                    {% if group.name == 'Managers' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/list_users">List Active Users</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}


                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
            <!-- Right elements -->
            <div class="d-flex align-items-center">

                <!-- Avatar -->
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuAvatar"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        {% for profile in profiles %}
                        {% if user.id == profile.user_id %}
                        {% with avatarimg="avatars/"|add:profile.avatar %}
                        <img src="{% static avatarimg %}"
                             alt="Author"
                             class="rounded-circle"
                             height="25"
                             width="25"
                             loading="lazy">
                        {% endwith %}
                        {% endif %}
                        {% endfor %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item disabled sans-font" href="#"> {{ user.first_name }} {{ user.last_name }}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/edit_profile"><i class="fas fa-cog pe-2"></i>Edit my Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/view_my_profile"><i class="fas fa-user-alt pe-2"></i>View my Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/all_profiles"><i class="fa-solid fa-users pe-2"></i>List all Profiles</a>
                        </li>
                        {% for group in user.groups.all %}
                        {% comment %}
                        Iterate over the groups of the current user
                        If user is a member of group Editors, add view my articles link
                        {% endcomment %}
                        {% if group.name == 'Editors' %}
                        <li class="nav-item">
                            <a class="dropdown-item" href="/my-articles"><i class="fa-regular fa-newspaper pe-2"></i>View my Articles</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="/delete_account"><i class="fa-solid fa-trash-can pe-2"></i>Delete my account</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/accounts/logout"><i class="fas fa-door-open pe-2"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
                {% else %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuAvatar"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{% static 'avatars/not-logged-in.png' %}"
                             class="rounded-circle"
                             height="25"
                             width="25"
                             alt="Default avatar"
                             loading="lazy">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="/accounts/signup"><i class="fa-solid fa-plus pe-2"></i>Create account</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/accounts/login"><i class="fas fa-door-open pe-2"></i>Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <!-- Right elements -->
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>