{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

<div class="container-fluid text-center target-link">
    <h1>Login</h1>
</div>

<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block text-center">
            <img class='rounded-circle border border-5 border-success' width="640" height="436" alt="Amy wants you to log in" src="{% static 'images/amylogin.jpg' %}">
        </div>
        <div class="col">
            <p>
                {% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </p>


            <form class="form p-2" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary w-25 mb-2" type="submit">{% trans "Sign In" %}</button>
            </form>
            <p>&nbsp;</p>
        </div>
    </div>

</div>
{% endblock content %}