{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Create Account" %}{% endblock %}

{% block content %}

<div class="container-fluid text-center target-link">
    <h1>Create Account</h1>
</div>

<div class="container-fluid target-link">
    <div class="row">
        <div class="col d-none d-lg-block text-center">
            <img class='rounded-circle border border-5 border-success' width="640" height="436" src="{% static 'images/createaccount.png' %}" />
        </div>
        <div class="col">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

            <form class="form p-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary w-25">Sign Up</button>
            </form>
            <p>&nbsp;</p>
        </div>
    </div>

</div>


{% endblock content %}