{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Community page for retro computers">
    <meta name="keywords" content="community retro computers amiga atari commodore">
    <meta name="author" content="Jonas Thorell">
    <script src="{% static 'javascript/tinymce.min.js' %}" referrerpolicy="origin"></script>
    {% block extra_css %}

    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- materialize bootstrp -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" type="text/css">
    <!-- Material symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <link rel='shortcut icon' type='image/x-icon' href="{% static 'icons/favicon.ico' %}">


    <!-- default title. Will be overwritten by specific pages -->
    <title>RetroLoversUnited: {% block title %}Default Title{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {{ form.media }}

</head>

<body>

    {% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center" id="disclaimer-bar">
                This is for educational purposes only and not intended to be used as a live site.
            </div>
        </div>
    </div>
    {% include 'includes/header.html' %}
    {% include 'includes/alerts.html' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}


    {% block onload_js %}
    <!-- MDB -->
    <script src="{% static 'javascript/mdb.min.js' %}">
    </script>

    <!--my custom script -->
    <script src="{% static 'javascript/script.js' %}">
    </script>

    {% endblock %}
    {% endblock %}


    </body>
</html>